# IDE-specific files
.cproject
.project
.mxproject
.settings/

# Build and Debug files
Debug/
build/
*.o
*.bin
*.elf
*.map

# Logs and temporary files
*.log
*.tmp
*.bak

# Git internal (if needed)
.git/

